@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@300;400;700;900&display=swap');

:root{
    --main-color: #2F5C28;
    --second-color: #e8edd7;
    --border: .1rem solid rgba(0, 0, 0, 10%);
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 10%);
    --radius: .5rem;
}

*{
   font-family: 'Nunito', sans-serif;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-decoration: none;
   border: 0;
   outline: none;
   transition: all .3s ease-in-out;
}

*::selection{
    background: var(--main-color);
    color: #fff;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
    font-size: 60%;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5%;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

header.scrolled {
    background-color: white;
    box-shadow: var(--box-shadow);
}

.logo{
    font-size: 3rem;
    color: white;
    font-weight: 700;
    transition: color 0.3s;
}

header.scrolled .logo{
    color: var(--main-color);
}

nav a{
    font-size: 1.8rem;
    margin-left: 2rem;
    color: white;
    transition: color 0.3s;
}

header.scrolled .navbar a {
    color: black;
}

nav a:hover{
    color: var(--main-color);
}

header.scrolled .navbar a:hover {
    color: var(--main-color);
}

#menu-btn{
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.3rem;
    border-radius: var(--radius);
    color: var(--main-color);
    background: var(--bg);
    display: none;
}

#menu-btn:hover{
    color: #fff;
    background: var(--main-color);
}

header .current{
    font-weight: bold;
    padding: 1rem;
    border: 1px solid var(--main-color);
    border-radius: var(--radius);
}

#galvena{
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--main-color);
    color: white;
}

#myVideo{
    height: 60vh;
}

.content{
    padding-left: 5%;
    padding-right: 3rem;
}

.content h1{
    margin-bottom: 2rem;
    font-size: 3rem;
}

.content p{
    line-height: 2;
    font-size: 1.5rem;
}

#vakances {
    padding: 5rem 5%;
    text-align: center;
    background-color: #f4f4f4;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#vakances h2, #aktualitates h2{
    font-size: 3rem;
    margin-bottom: 3rem;
}

#vakances .oval {
    position: relative;
    width: 80%;
    height: 30rem;
    max-width: 75rem;
    margin: 2rem;
    padding: 2rem;
    border-radius: 115rem;
    background-color: white;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: var(--main-color);
    color: white;
}

#vakances .oval .content {
    flex: 1;
}

#vakances .oval .content h2 {
    font-size: 2rem;
}

#vakances .oval .content p {
    font-size: 2em;
}

#vakances .oval img {
    width: 26rem;
    height: 25rem;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid black;
}

.btn{
    border: 1px solid black;
    color: black;
    font-size: 2rem;
    display: flex;
    width: 15rem;
    justify-content: center;
}

.btn:hover{
    border-color: var(--main-color);
    color: var(--main-color);
}

#aktualitates{
    padding: 5rem 5%;
    background: url(../images/bgAKT.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#aktualitates h2{
    text-align: center;
    color: var(--main-color);
}

#aktualitates p{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 3rem;
}

#aktualitates .box{
    text-align: center;
    padding: 0;
    background: white;
    margin-bottom: 2rem;
}

#aktualitates .box img{
    width: 100%;
    height: 30rem;
}

#aktualitates .box .aktualVirsraksts{
    font-size: 2.5rem;
    padding: 1.5rem;
    color: black;
    font-weight: bold;
}

#aktualitates .box .aktualVirsraksts:hover{
    color: var(--main-color);
}

#aktualitates .box p{
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    line-height: 2;
}

#aktualitates .btn{
    margin: auto;
}

@media (max-width: 1080px){
    html{
        font-size: 55%;
    }
}

@media (max-width: 985px){
    #menu-btn{
        display: block;
    }

    nav{
        position: absolute;
        top: 115%;
        right: 2rem;
        box-shadow: var(--box-shadow);
        background: #fff;
        border: var(--border);
        border-radius: var(--radius);
        width: 30rem;
        transform: scale(0);
        transform-origin: top right;
        opacity: 0;
    }

    nav.active{
        transform: scale(1);
        opacity: 1;
    }

    nav a{
        font-size: 2rem;
        display: block;
        padding: 1rem;
        margin: 1rem;
        border-radius: var(--radius);
    }

    nav a:hover{
        background: var(--bg);
    }
}

/* vakances.php */
.square{
    padding: 12rem 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filter{
    padding: 3rem;
    width: 25%;
    height: 80vh;
    display: grid;
    grid-template-columns: 35% 65%;
    align-items: center;
    background: url(../images/bgFIL.jpg);
}

.filter input, .filter select{
    border: 1px solid black;
    margin: 2rem 0;
    width: 25rem;
    height: 4rem;
    padding-left: 1rem;
    font-size: 1.8rem;
}

.filter label{
    font-size: 1.8rem;
    font-weight: bold;
}

.filter .radio{
    width: 20rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.filter .radio input{
    width: 2rem;
    height: 2rem;
}

.filter .btn{
    height: 4rem;
    align-items: center;
    background: var(--main-color);
    color: white;
    border-color: white;
}

.filter .btn:hover{
    background-color: white;
    color: var(--main-color);
    border-color: var(--main-color);
}

.sarakstsArVakancem{
    width: 70%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    flex-wrap: wrap;
}

.ieraksts{
    border: 1px solid var(--main-color);
    font-size: 2rem;
    line-height: 2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2rem;
}

.ieraksts img{
    margin: auto;
    max-height: 15rem;
}

.square span{
    background: var(--second-color);
    font-weight: bold;
}

.ieraksts li{
    list-style: none;
}

.ieraksts h2, .ieraksts h3{
    text-align: center;
}

.ieraksts .btn{
    width: 100%;
    margin-top: 1rem;
    background: var(--second-color);
    border-color: var(--second-color);
    font-weight: bold;
}

.ieraksts .btn:hover{
    background-color: white;
    color: var(--main-color);
    border-color: var(--main-color);
}

/* aktualitates.php */
.sadalaAktualitates {
    width: 100%;
    padding: 15rem 5%;
}

.sadalaAktualitates .box {
    text-align: center;
    padding: 0;
    background: white;
    margin-bottom: 2rem;
    position: relative;
}

.sadalaAktualitates .box img {
    width: 100%;
    height: 30rem;
}

.sadalaAktualitates .box .date {
    font-size: 2rem;
}

.sadalaAktualitates .box h2 {
    font-size: 2.5rem;
}

.sadalaAktualitates .box .toggle-btn {
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    bottom: -3rem;
    right: 1rem;
    color: var(--main-color);
    font-weight: bold;
    background: none;
}

.sadalaAktualitates .box .toggle-btn:hover{
    background: var(--main-color);
    color: white;
    border-color: white;
}

.sadalaAktualitates .box .content {
    display: none;
    font-size: 2rem;
    text-align: justify;
}

.sadalaAktualitates .box-container{
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
}